<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="GitHub" value="https://nuget.pkg.github.com/darth-vader-lg/index.json" />
    <add key="LocalRelease" value=".\src\SciSharp.TensorFlow.Redist\bin\Release" />
    <add key="LocalDebug" value=".\src\SciSharp.TensorFlow.Redist\bin\Debug" />
  </packageSources>
  <packageSourceCredentials>
    <GitHub>
      <add key="Username" value="darth-vader-lg" />
      <add key="ClearTextPassword" value="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" />
    </GitHub>
  </packageSourceCredentials>
</configuration>
